// This file must be imported before loading html5-boilerplate

$font-family: unquote('sans-serif');
$font-size: 1em;
$line-height: 1.4;
$font-color: #222;
$link-color: #00e;
$link-hover-color: #06e;
$link-visited-color: #551a8b;
$selection-color: #b3d4fc;