@mixin clearfix {
  zoom: 1;
  
  &:before, &:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
  &:after { clear: both; }
}

@mixin html5-boilerplate-mobile-helpers {
  /**
   * Non-semantic helper classes: please define your styles before this section.
   */

  /* prevent callout */
  .nocallout {-webkit-touch-callout: none;}

  /* Text overflow with ellipsis */
  .ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  /* A hack for HTML5 contenteditable attribute on mobile */
  textarea.contenteditable {-webkit-appearance: none;}

  /* A workaround for S60 3.x and 5.0 devices which do not animated gif images if they have been set as display: none */
  .gifhidden {position: absolute; left: -100%;}

  /* For image replacement */
  .ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

  /* Hide for both screenreaders and browsers:
     css-discuss.incutio.com/wiki/Screenreader_Visibility */
  .hidden { display: none; visibility: hidden; }

  /* Hide only visually, but have it available for screenreaders: by Jon Neal.
    www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
  .visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
  /* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
  .visuallyhidden.focusable:active,
  .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

  /* Hide visually and from screenreaders, but maintain layout */
  .invisible { visibility: hidden; }

  /* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
     j.mp/bestclearfix */
  .clearfix { @include clearfix; }
}
